{% include 'base.html' %}

{% block content %}
  <main class="container">
    <div class="row text-center">
      <div class="col-md-6 mx-auto">
        <h1 class="text-center">Êtes vous une école ou un user ?</h1>
          <div>
          <div class="form-check">
            <button class="btn btn-primary btn-md" onclick="window.location.href = '/reservations/ecole_signup';">
              Ecole
            </button>
       
            <button class="btn btn-primary btn-md" onclick="window.location.href = '/reservations/signup';">
              User
            </button>

            <button class="btn btn-danger btn-md" onclick="window.location.href = '/reservations/home';" te>
              Retour
            </button>

          
          </div>
      </div>
    </div>
  </main>
{% endblock %}