{% include 'base.html' %}

<body> 
    {% include 'navbar.html' %}
      <main>
        {% if reservations %}
        <h2>Réservations disponibles</h2>
        <ul>
          {% for reservation in reservations %}
          <li>
            {{reservation.ecole.nom}} -
            <button
              onclick="window.location.href = '/school_bookings/confirm_booking?booking_id={{booking.id}}';"
            >
              {{reservation.date|date}}
            </button>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p style="text-align: center;">Pas de réservations disponibles</p>
        {% endif %}
      </main>      
</body>
</html>